body,
html {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mask1 {
    mask-image: url("./moldura-letas.png");
    mask-repeat: no-repeat;
    mask-position: 0px 0px;
    background: #F74326;
    position: absolute;
    top: 50px;
    height: 328px;
    left: -1px;

    img {
        position: relative;
        top: -9px;
        left: 0;
        animation: animationFonte 20s linear infinite;

        @keyframes animationFonte {
            0% {
                left: 0;
            }

            100% {
                left: -1500px;
            }
        }

    }
}

.input-img {
    margin-top: 20px;
    position: relative;

    img {
        width: 100%;
    }

    input {
        position: absolute;
        height: 47px;
        width: 390px;

        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-size: 25px;


        color: #B5B5B5;
        padding-left: 20px;
        background: transparent;
        border: none;
        outline: none;

        padding-top: 6px;

        ::placeholder {
            color: #B5B5B5;
        }
    }

    button {
        position: absolute;
        right: 0;
        height: 56px;
        width: 211px;
        border: none;
        background: none;
        cursor: pointer;
    }
}

.container-image {
    width: 614.49px;
    height: 433px;


    text-align: center;
    position: relative;
    background: url("./nft2.png");
    background-position: -1575px 5px;
    background-repeat: no-repeat;
    animation: animationBackground 20s linear infinite;
    background-color: #FCFCF5;

    .molduraGeral {
        width: 100%;
        position: relative;
        left: -1px;
        top: -3px;
        z-index: 1;
    }

    @keyframes animationBackground {
        0% {
            background-position: -1575px 80px;

        }

        100% {
            background-position: 0px 80px;
        }
    }


    .instagram {
        z-index: 100;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 14px;
    }

    .discord {
        z-index: 100;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 257px;
    }

    .twwiter {
        z-index: 100;
        width: 111px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        right: 9px;
    }

}

.stroke {
    position: absolute;
    top: 51.5px;
    left: 0px;
    width: 100%;


    img {
        width: 100%;
    }
}


.container-home {

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


    background-repeat: no-repeat;
    background-size: cover;



    .molduraGeral {
        width: 617.49px;
        height: 437.61px;
        position: relative;
        left: -1.5px;
    }
}


@media(max-width: 645px) {
    .input-img {
        width: 409px;

        input {
            height: 27px;
            width: 253px;
            font-size: 19px;
        }

        button {
            width: 35px;
            height: 137px;
        }
    }

    .container-image {
        width: 406px;
        height: 281px;

        @keyframes animationBackground {
            0% {
                background-position: -1575px 0px;

            }

            100% {
                background-position: 0px 0px;
            }
        }
    }

    .container-home {
        background-image: url(./nfts-page.png);

        animation: backgroundPage 20s linear infinite;

        @keyframes backgroundPage {
            0% {
                background-position: 0px 0px;

            }

            100% {
                background-position: -5326px 5px;
            }
        }

    }

    .container-home .molduraGeral {
        width: 409px;
        height: 286.42px;
        left: -2.5px;

    }

    .stroke img {
        width: 408px;
        height: 188.62px;
    }

    .mask1 {
        mask-image: url("./moldura-letras-400.png");
        top: 30px;
        left: -1px;
    }

    .stroke {
        width: 409px;
        left: 50%;
        transform: translateX(-50%);
        top: 32px;
    }


    .container-image {
        .instagram {
            height: 29px;
            width: 82px;
        }

        .discord {
            left: 176px;
            width: 76px;
            height: 30px;
        }

        .twwiter {
            width: 75px;
            height: 29px;
        }
    }
}


@media(max-width: 500px) {

    .input-img {
        margin-top: -30px;
        width: 351.5px;

        input {
            width: 214px;
            height: 24px;
            padding-top: 5px;
            font-size: 1rem;
        }

        button {
            width: 114px;
            height: 30px;
        }
    }


    .mask1 {
        mask-image: url(./moldura-letras-300.png);
        top: 26px;
        left: 1px;
    }

    .stroke {
        width: 99%;
        top: 28px;
        left: 50.24%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .container-home .molduraGeral {
        width: 353px;
        height: 248.42px;
        left: 0px;
    }

    .container-image {
        height: 237px;
        width: 352px;
        overflow: initial;
        top: -68px;


        .instagram {

            bottom: -11px;
            left: 8px;
        }

        .discord {
            left: 146px;
            bottom: -11px;
        }


        .twwiter {
            bottom: -11px;
            width: 75px;
            height: 29px;
        }
    }
}