body,
html {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mask1 {
    mask-image: url("./moldura-letas.png");
    mask-repeat: no-repeat;
    mask-position: 0px 0px;
    background: #F74326;
    position: absolute;
    top: 50px;
    height: 328px;
    left: -1px;

    img {
        position: relative;
        top: -77px;
        left: 0;
        animation: animationFonte 20s linear infinite;

        @keyframes animationFonte {
            0% {
                left: 0;
            }

            100% {
                left: -1800px;
            }
        }

    }
}


.container-image {
    width: 614.49px;
    height: 482.61px;


    text-align: center;
    position: relative;
    background: url("./nft2.png");
    background-position: -1755px 5px;
    background-repeat: no-repeat;
    animation: animationBackground 20s linear infinite;
    background-color: #FCFCF5;

    .molduraGeral {
        width: 100%;
        position: relative;
        left: -1px;
        top: -3px;
        z-index: 1;
    }

    @keyframes animationBackground {
        0% {
            background-position: -1755px 5px;

        }

        100% {
            background-position: 0px 5px;
        }
    }


    .instagram {
        z-index: 100;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 14px;
    }

    .discord {
        z-index: 100;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 257px;
    }

    .twwiter {
        z-index: 100;
        width: 111px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        right: 9px;
    }

}

.stroke {
    position: absolute;
    top: 51.5px;
    left: 0px;
    width: 100%;


    img {
        width: 100%;
    }
}


.container-home {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


    background-image: url(./nfts-page.png);
    background-repeat: no-repeat;
    background-size: cover;


    animation: backgroundPage 30s linear infinite;

    .molduraGeral {
        width: 617.49px;
        height: 488.61px;
        position: relative;
        left: -1.5px;
    }

    @keyframes backgroundPage {
        0% {
            background-position: 0px 0px;

        }

        100% {
            background-position: -5726px 5px;
        }
    }
}


@media(max-width: 645px) {
    .container-image {
        width: 406px;
        height: 312px;
        overflow: hidden;
    }

    .container-home .molduraGeral {
        width: 409px;
        height: 319.42px;
        left: -2.5px;

    }

    .stroke img {
        width: 408px;
        height: 188.62px;
    }

    .mask1 {
        mask-image: url("./moldura-letras-400.png");
        top: 30px;
        left: -1px;
    }

    .stroke {
        width: 409px;
        left: 50%;
        transform: translateX(-50%);
        top: 33px;
    }


    .container-image {
        .instagram {
            height: 29px;
            width: 82px;
        }

        .discord {
            left: 176px;
            width: 76px;
            height: 30px;
        }

        .twwiter {
            width: 75px;
            height: 29px;
        }
    }
}


@media(max-width: 500px) {
    .mask1 {
        mask-image: url(./moldura-letras-300.png);
        top: 27px;
        left: 1px;
    }

    .stroke {
        width: 99%;
        top: 28px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .container-home .molduraGeral {
        width: 356px;
        height: 285.42px;
        left: -1px;
    }

    .container-image {
        height: 237px;
        width: 355px;
        overflow: initial;



        .instagram {

            bottom: -43px;
            left: 8px;
        }

        .discord {
            left: 146px;
            bottom: -43px;
        }


        .twwiter {
            bottom: -43px;
            width: 75px;
            height: 29px;
        }
    }
}