body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.mask1 {
  -webkit-mask-image: url("./moldura-letas.png");
          mask-image: url("./moldura-letas.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
          mask-position: 0px 0px;
  background: #F74326;
  position: absolute;
  top: 50px;
  height: 328px;
  left: -1px;
}

.mask1 img {
  position: relative;
  top: -77px;
  left: 0;
  -webkit-animation: animationFonte 20s linear infinite;
          animation: animationFonte 20s linear infinite;
}

@-webkit-keyframes animationFonte {
  0% {
    left: 0;
  }
  100% {
    left: -1800px;
  }
}

@keyframes animationFonte {
  0% {
    left: 0;
  }
  100% {
    left: -1800px;
  }
}

.container-image {
  width: 614.49px;
  height: 482.61px;
  text-align: center;
  position: relative;
  background: url("./nft2.png");
  background-position: -1755px 5px;
  background-repeat: no-repeat;
  -webkit-animation: animationBackground 20s linear infinite;
          animation: animationBackground 20s linear infinite;
  background-color: #FCFCF5;
}

.container-image .molduraGeral {
  width: 100%;
  position: relative;
  left: -1px;
  top: -3px;
  z-index: 1;
}

@-webkit-keyframes animationBackground {
  0% {
    background-position: -1755px 5px;
  }
  100% {
    background-position: 0px 5px;
  }
}

@keyframes animationBackground {
  0% {
    background-position: -1755px 5px;
  }
  100% {
    background-position: 0px 5px;
  }
}

.container-image .instagram {
  z-index: 100;
  width: 135px;
  height: 48px;
  position: absolute;
  bottom: 0px;
  left: 14px;
}

.container-image .discord {
  z-index: 100;
  width: 135px;
  height: 48px;
  position: absolute;
  bottom: 0px;
  left: 257px;
}

.container-image .twwiter {
  z-index: 100;
  width: 111px;
  height: 48px;
  position: absolute;
  bottom: 0px;
  right: 9px;
}

.stroke {
  position: absolute;
  top: 51.5px;
  left: 0px;
  width: 100%;
}

.stroke img {
  width: 100%;
}

.container-home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./nfts-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: backgroundPage 30s linear infinite;
          animation: backgroundPage 30s linear infinite;
}

.container-home .molduraGeral {
  width: 617.49px;
  height: 488.61px;
  position: relative;
  left: -1.5px;
}

@-webkit-keyframes backgroundPage {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -5726px 5px;
  }
}

@keyframes backgroundPage {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -5726px 5px;
  }
}

@media (max-width: 645px) {
  .container-image {
    width: 406px;
    height: 312px;
    overflow: hidden;
  }
  .container-home .molduraGeral {
    width: 409px;
    height: 319.42px;
    left: -2.5px;
  }
  .stroke img {
    width: 408px;
    height: 188.62px;
  }
  .mask1 {
    -webkit-mask-image: url("./moldura-letras-400.png");
            mask-image: url("./moldura-letras-400.png");
    top: 30px;
    left: -1px;
  }
  .stroke {
    width: 409px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 33px;
  }
  .container-image .instagram {
    height: 29px;
    width: 82px;
  }
  .container-image .discord {
    left: 176px;
    width: 76px;
    height: 30px;
  }
  .container-image .twwiter {
    width: 75px;
    height: 29px;
  }
}

@media (max-width: 500px) {
  .mask1 {
    -webkit-mask-image: url(./moldura-letras-300.png);
            mask-image: url(./moldura-letras-300.png);
    top: 27px;
    left: 1px;
  }
  .stroke {
    width: 99%;
    top: 28px;
  }
  .stroke img {
    width: 100%;
    height: 100%;
  }
  .container-home .molduraGeral {
    width: 356px;
    height: 285.42px;
    left: -1px;
  }
  .container-image {
    height: 237px;
    width: 355px;
    overflow: initial;
    top: -68px;
  }
  .container-image .instagram {
    bottom: -43px;
    left: 8px;
  }
  .container-image .discord {
    left: 146px;
    bottom: -43px;
  }
  .container-image .twwiter {
    bottom: -43px;
    width: 75px;
    height: 29px;
  }
}
/*# sourceMappingURL=styles.css.map */