@charset "UTF-8";
@font-face {
  font-family: 'futura passata';
  src: url("../../font/FuturaPassata-DISPLAY.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'futura passata', sans-serif;
}

.hidden {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body > iframe {
  display: none;
}

.container {
  padding: 0 25px;
}

.nftsHero {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -4px;
}

.nftsHero img {
  -webkit-animation: animationNFT 10s linear infinite;
          animation: animationNFT 10s linear infinite;
}

@-webkit-keyframes animationNFT {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animationNFT {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  border-bottom: 2px solid #000;
  overflow-x: hidden;
  background: #fff;
}

.marquee-text {
  display: inline-block;
  width: auto;
  font-size: 45px;
  font-weight: bold;
  color: #000;
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
}

.marquee-text:before {
  content: "WELCOME TO THE SURF JUNKIE CLUB • WELCOME TO THE SURF JUNKIE CLUB •";
}

.marquee.theClub,
.marquee.theNFT,
.marquee.realArt,
.marquee.value,
.marquee.roadmap,
.marquee.joinUsMarquee,
.marquee.faq,
.marquee.real {
  border-top: 2px solid #000;
}

.marquee-text.theClub:before {
  content: "THE CLUB • THE CLUB • THE CLUB • ";
}

.marquee-text.theNFT:before {
  content: "THE NFT • THE NFT • THE NFT •";
}

.marquee-text.realArt:before {
  content: "REAL ART • REAL ART • REAL ART • ";
}

.marquee-text.value:before {
  content: "SCARCITY & VALUE • SCARCITY & VALUE • ";
}

.marquee-text.roadmap:before {
  content: "ROADMAP • ROADMAP • ROADMAP • ";
}

.marquee-text.joinUsMarquee:before {
  content: "JOIN US • JOIN US • JOIN US • ";
}

.marquee-text.faq:before {
  content: "FAQ • FAQ • FAQ • FAQ • FAQ • ";
}

.marquee-text.real:before {
  content: "BARRELS ARE THE REAL DOPE • BARRELS ARE THE REAL DOPE •";
}

.marquee.real {
  border-top: 0;
}

.marquee-text.mintDay {
  font-size: 16px;
  border-left: 2px solid #000;
  padding-left: 12px;
  line-height: 23px;
}

.marquee.mintDay {
  background-color: #00F89E;
}

.marquee-text.mintDay:before {
  content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY ";
}

@-webkit-keyframes scroll {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.joinUs {
  background: #A4CFF6;
  padding-top: 44px;
  padding-bottom: 38px;
}

.joinUs p {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 94%;
  color: #000000;
}

.btn-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 33px;
  font-size: 22px;
  background: #FFFD09;
  border: 2px solid #000000;
  color: #000;
  text-decoration: none;
  max-width: 127px;
}

.cardsNFT {
  padding-top: 49px;
  padding-bottom: 46px;
  background-color: #0062E1;
}

.cardsNFT .item {
  margin: 46px auto;
  max-width: 387px;
}

.cardsNFT .item1 .containerImg {
  height: 135px;
  border: 2px solid #000000;
}

.cardsNFT .item2.containerImg {
  height: 212px;
}

.cardsNFT .item3.containerImg {
  height: 247px;
}

.cardsNFT .containerImg {
  width: 100%;
  height: 180px;
  background: #FF413E;
  border-bottom: 0;
}

.cardsNFT .containerImg img {
  width: 100%;
}

.cardsNFT .textInner {
  border: 2px solid #000000;
  background: #fff;
  padding: 21px 21px 21px 24px;
}

.greenText {
  padding: 30px 46px 34px 48px;
  background: #B5FF6B;
  border: 2px solid #000000;
}

.greenText p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16.18px;
  line-height: 110%;
  color: #000000;
}

.porcentagensNFT {
  padding-top: 45px;
  padding-bottom: 53px;
  background: #FF413E;
  position: relative;
}

.porcentagensNFT::after {
  content: "";
  background: transparent;
  height: 3550px;
  width: 3px;
  position: absolute;
  left: 5px;
  top: 65px;
  border-right: 3px dashed #000000;
}

.porcentagensNFT .card {
  max-width: 302.57px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.porcentagensNFT .porcentagemNumber {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 53px;
  left: 80px;
  top: 3579px;
  background: #FFFD09;
  border: 2px solid #000000;
  padding: 8px 30px;
  font-size: 45px;
  display: inline-table;
  border-bottom: 0px;
}

.porcentagensNFT h2 {
  font-size: 45px;
  padding: 30px;
  padding-right: 73px;
  background: #00B9FF;
  border: 2px solid #000000;
  word-wrap: break-word;
}

.porcentagensNFT .containerImage {
  width: 100%;
}

.porcentagensNFT .containerImage img {
  border: 2px solid #000000;
  border-top: 0;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.porcentagensNFT p {
  border: 2px solid #000000;
  border-top: 0;
  font-family: sans-serif;
  padding: 40px;
  font-size: 16.18px;
  background: #B5FF6B;
  margin-top: -4px;
}

.form {
  padding-top: 37px;
  padding-bottom: 49px;
}

.form p {
  font-size: 16px;
  color: #000000;
  font-family: sans-serif;
}

.form input {
  padding-left: 16px;
  border: 2px solid #000000;
  width: 100%;
  height: 48px;
  font-size: 19px;
  color: #808080;
}

.form input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #808080;
}

.form input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #808080;
}

.form input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #808080;
}

.form input::placeholder {
  text-transform: uppercase;
  color: #808080;
}

.form input:nth-child(2) {
  margin-top: 30px;
  border-bottom: 0;
}

.form input:nth-child(4) {
  border-top: 0;
  margin-bottom: 32px;
}

.form .btn-join {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-left: 9px;
  padding-right: 5px;
  margin-top: 0;
}

.form .p {
  margin: 16px 0;
}

.accordion {
  background: red;
  width: 100%;
  font-family: 'futura passata', sans-serif;
  overflow-x: hidden;
}

.accordion.accordionRosa .accordion-item:hover {
  background-color: #FF39BB;
}

.accordion.accordionBlue .accordion-item:hover {
  background-color: #00B9FF;
}

.accordion .accordion-item {
  background: #FBF801;
  color: #111;
  font-size: 43px;
  border-top: 3px solid #000;
}

.accordion .accordion-item:last-child {
  border-bottom: 3px solid #000;
}

.accordion .accordion-item-header {
  padding: .5rem 0rem .5rem 1rem;
  min-height: 3.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion .accordion-item-header.type3,
.accordion .accordion-item-header .type4 {
  width: 1780px;
  margin: 0 auto;
}

.accordion .accordion-item-header span {
  margin-right: 18px;
  font-size: 10px;
  margin-top: -5px;
}

.accordion .accordion-item-header::after {
  content: url("/assets/img/lp/plus.png");
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.accordion .accordion-item-header.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accordion .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.accordion .accordion-item-body.type1 {
  font-weight: 400;
  font-size: 41px;
  font-family: sans-serif;
}

.accordion .accordion-item-body.type2 .accordion-item-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 41px;
  padding-right: 0;
}

.accordion .accordion-item-body.type2 .card {
  border: 3px solid #000000;
  width: 544.47px;
}

.accordion .accordion-item-body.type2 .card .titleCard {
  padding-left: 65px;
  background: #FF6600;
  border-bottom: 3px solid #000000;
}

.accordion .accordion-item-body.type2 .card img {
  width: 100%;
  height: 460.11px;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion .accordion-item-body.type2 .card p {
  background: #fff;
  padding-top: 58px;
  padding-left: 65px;
  padding-right: 25px;
  margin-top: -12px;
  padding-bottom: 56px;
  border-top: 3px solid #000000;
}

.accordion .accordion-item-body.type3.active {
  overflow: visible;
}

.accordion .accordion-item-body.type3 .accordion-item-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion .accordion-item-body.type3 img {
  -webkit-animation: animationBackground 10s linear infinite;
          animation: animationBackground 10s linear infinite;
}

.accordion .accordion-item-body.type3 p {
  font-family: sans-serif;
  padding-left: 57px;
  padding-right: 34px;
  margin-top: 25px;
  margin-bottom: 46px;
}

@-webkit-keyframes animationBackground {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animationBackground {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.accordion .accordion-item-body-content {
  padding: 1rem;
  padding-left: 55px;
}

.accordioGreen .accordion-item {
  background: #B5FF6B;
}

.accordioGreen .accordion-item.blue {
  background: #00B9FF;
}

@media (max-width: 767px) {
  .accordion .container {
    padding: 0;
  }
  .accordion .accordion-item {
    border: 1px solid #000000;
  }
  .accordion .accordion-item-header {
    font-size: 18px;
    padding-left: 35px;
  }
  .accordion .accordion-item-header span {
    font-size: 10px;
    margin-top: 0px;
    margin-right: 0;
    position: absolute;
    left: 10px;
  }
  .accordion .accordion-item-header::after {
    content: url("../../img/lp/plusMobile.svg");
    margin-top: -8px;
  }
  .accordion .accordion-item-header.type3,
  .accordion .accordion-item-header .type4 {
    width: 100%;
  }
  .accordion .accordion-item-body-content {
    font-size: 16px;
    padding-left: 34px;
  }
  .accordion .type1 .accordion-item-body-content {
    padding-top: 18px;
    padding-bottom: 10px;
  }
  .accordion .accordion-item-body.type2 .card p {
    padding: 24px;
    font-size: 16px;
  }
  .accordion .accordion-item-body.type2 .card {
    width: 100%;
  }
  .accordion .accordion-item-body.type2 .card img {
    height: auto;
  }
  .accordion .accordion-item-body.type2 .accordion-item-body-content {
    padding-right: 33px;
  }
  .accordion .accordion-item-body.type3 p {
    font-size: 16px;
    margin: 0;
    padding: 24px;
    padding-top: 0;
  }
  .accordion .accordion-item-body.type3 .accordion-item-body-content img {
    height: 54px;
    margin-top: -24px;
  }
}

.containerP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerP p {
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  /* identical to box height, or 200% */
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 16px;
}
/*# sourceMappingURL=styles.css.map */