@font-face {
    font-family: 'futura passata';
    src: url("../../font/FuturaPassata-DISPLAY.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura passata',
        sans-serif;

}

.hero {
    img {
        width: 100%;
    }
}


.hidden {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body>iframe {
    display: none;
}


.container {
    padding: 0 25px;
}

.nftsHero {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: -4px;

    img {
        animation: animationNFT 20s linear infinite;
    }


    @keyframes animationNFT {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}


.marquee {
    width: 100%;
    white-space: nowrap;
    border-bottom: 2px solid #000;
    overflow-x: hidden;
    background: #fff;
    height: 56px;
    display: flex;
    align-items: center;
}

.marquee-text {
    display: inline-block;
    width: auto;
    font-size: 45px;
    font-weight: bold;
    color: #000;
    animation: scroll 10s linear infinite;
    position: relative;
    top: -1px;
    letter-spacing: -2px;
}

.marquee-text:before {
    content: "WELCOME TO THE SURF JUNKIE CLUB • ";
}

.marquee.theClub,
.marquee.theNFT,
.marquee.realArt,
.marquee.value,
.marquee.roadmap,
.marquee.joinUsMarquee,
.marquee.real {
    border-top: 2px solid #000;
}

.marquee-text.theClub:before {
    content: "THE CLUB • THE CLUB • THE CLUB • ";
}

.marquee-text.theNFT:before {
    content: "THE NFT • THE NFT • THE NFT •";
}

.marquee-text.realArt:before {
    content: "REAL ART • REAL ART • REAL ART • ";
}

.marquee-text.value:before {
    content: "SCARCITY & VALUE • ";
}

.marquee-text.roadmap:before {
    content: "ROADMAP • ROADMAP • ";
}

.marquee-text.joinUsMarquee:before {
    content: "JOIN US • JOIN US • JOIN US • ";
}

.marquee.mint {
    background: transparent;
    height: 37px;
    position: relative;
    top: 3px;
}

.marquee-text.mint {
    font-size: 16px;
    height: auto;
    letter-spacing: initial;
}

.marquee-text.mint:before {
    content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY ";
}

.marquee-text.faq:before {
    content: " FAQ • FAQ • FAQ • FAQ • ";
}

.marquee-text.faq {
    padding-left: 9px;
}

.marquee-text.real:before {
    content: "BARRELS ARE THE REAL DOPE • BARRELS ARE THE REAL DOPE •";
}

.marquee.real {
    border-top: 0;
}


.marquee-text.junkieClub,
.marquee-text.realArt {
    position: relative;
    top: 1px;
}

.marquee-text.realArt {
    position: relative;
    top: 1px;
}

.marquee.theNFT {
    border-bottom: 2px solid #000 !important;
}

.marquee-text.theNFT {
    position: relative;
    top: 1px;
}

.marquee-text.junkieClub {
    animation: scroll 17s linear infinite !important;
}

.marquee-text.mintDay {
    font-size: 16px;
    border-left: 2px solid #000;
    padding-left: 12px;
    line-height: 23px;
}

.marquee.mintDay {
    background-color: #00F89E;
}

.marquee-text.mintDay:before {
    content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY ";
}

.marquee.roadmap {
    border-bottom: 0;
}




@keyframes scroll {
    100% {
        transform: translateX(-100%);
    }
}


.joinUs {
    background: #A4CFF6;
    padding-top: 44px;
    padding-bottom: 38px;

    p {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 94%;
        color: #000000;
        text-align: justify;
        letter-spacing: -2px;
    }


}

.btn-join {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    font-size: 22px;
    background: #FFFD09;
    border: 2px solid #000000;

    color: #000;
    text-decoration: none;
    max-width: 127px;
    height: 38px;
}

.cardsNFT {
    padding-top: 49px;
    background-color: #0062E1;

    .item {
        margin: 46px auto;
        max-width: 387px;

        &.mt-0 {
            margin-top: 0;
        }
    }



    .item1 .containerImg {
        height: 143px;
        border: 2px solid #000000;

        img {
            width: 101%;
            position: relative;
            left: -2px;
            top: -1px;
            border: 1px solid #000;
        }
    }

    .item2.containerImg {
        height: 223px;
    }

    .item3.containerImg {
        height: 247px;
    }

    .containerImg {
        width: 100%;
        height: 180px;
        background: #FF413E;
        border-bottom: 0;

        img {
            width: 100%;

        }
    }

    .textInner {
        border: 2px solid #000000;

        background: #fff;
        padding: 21px 21px 21px 24px;

        p {
            font-family: sans-serif;

        }
    }
}

.greenText {
    padding: 30px 46px 34px 48px;
    background: #B5FF6B;
    border: 2px solid #000000;

    p {
        font-family: sans-serif;

        font-weight: 400;
        font-size: 16.18px;
        line-height: 110%;
        color: #000000;

    }
}

.porcentagensNFT {
    padding-top: 45px;
    padding-bottom: 53px;
    background: #FF413E;
    position: relative;

    &::after {
        content: "";
        background: transparent;
        height: 3252px;
        width: 3px;
        position: absolute;
        left: 22px;
        top: 65px;
        border-left: 3px dashed #000;
    }

    .card {
        max-width: 302.57px;
        margin: 0 auto;
        margin-bottom: 48px;
        margin-right: 30px;

        &.mb-0 {
            margin-bottom: 0 !important;
        }

    }

    .porcentagemNumber {
        width: fit-content;
        height: 53px;
        left: 80px;
        top: 3579px;

        background: #FFFD09;
        border: 2px solid #000000;
        padding: 8px 30px;
        font-size: 45px;
        display: inline-table;
        border-bottom: 0px;

    }

    h2 {
        font-size: 45px;
        padding: 30px;
        padding-right: 50px;
        background: #00B9FF;
        border: 2px solid #000000;
        word-wrap: break-word;
        line-height: 42px;

        overflow-wrap: break-word;
        hyphens: auto;
    }

    .containerImage {
        width: 100%;

        img {
            border: 2px solid #000000;
            border-top: 0;
            width: 100%;
            object-fit: none;
        }
    }

    p {
        border: 2px solid #000000;
        border-top: 0;

        font-family: sans-serif;
        padding: 40px;
        font-size: 16.18px;
        background: #B5FF6B;
        margin-top: -4px;
    }
}

.form {
    padding-top: 37px;
    padding-bottom: 49px;
    background-color: #93E7FF;


    p {
        font-size: 16px;
        color: #000000;
        font-family: sans-serif;
    }

    input {
        padding-left: 16px;
        border: 2px solid #000000;
        width: 100%;
        height: 48px;
        font-size: 19px;
        color: #808080;

        &::placeholder {
            text-transform: uppercase;
            color: #808080;
        }
    }

    input:nth-child(2) {
        margin-top: 30px;
        border-bottom: 0;
    }

    input:nth-child(4) {
        border-top: 0;
        margin-bottom: 32px;
    }


    .btn-join {
        max-width: fit-content;
        padding-left: 9px;
        padding-right: 5px;
        margin-top: 0;
    }

    .p {
        margin: 16px 0;
    }
}


.accordion {
    margin-top: -1px;
    width: 100%;
    font-family: 'futura passata',
        sans-serif;

    &.accordionRosa {
        .accordion-item {
            &:hover {
                background-color: #FF39BB;
            }
        }
    }

    &.accordionBlue {
        .accordion-item {
            &:hover {
                background-color: #00B9FF;
            }
        }
    }

    .accordion-item {
        background: #FBF801;
        color: #111;
        font-size: 43px;
        border-top: 3px solid #000;

    }

    .accordion-item:last-child {
        border-bottom: 3px solid #000;
    }

    .accordion-item-header {
        padding: .5rem 0rem .5rem 1rem;
        min-height: 3.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;


        &.type3,
        .type4 {
            width: 1780px;
            margin: 0 auto;


        }

        span {
            margin-right: 18px;
            font-size: 10px;
            margin-top: -5px;
        }
    }

    .accordion-item-header::after {
        content: url("/assets/img/lp/plus.png");
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        transition: .2s linear;
    }

    .accordion-item-header.active::after {
        transform: rotate(45deg);
    }


    overflow-x: hidden;

    .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-out;
        font-family: sans-serif;


    }

    .accordion-item-body-content {
        font-size: 16px;
        margin: 0;
        padding: 24px;
        padding-top: 0;
        padding-left: 37px;
        padding-right: 55px;
        padding-bottom: 0;
        font-family: sans-serif;
        padding-bottom: 23px;


    }

    img.gif {
        width: 100%;
        padding-left: 37px;
        padding-right: 55px;
    }

    .felipe {
        margin: 0 auto;
        max-width: 345px;
        margin: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.containerGif {
    display: flex;
    overflow: hidden;

    img {
        animation: teste 10s linear infinite;
        height: 74px;
    }

    @keyframes teste {
        0% {
            transform: translateX(-100%)
        }
        100% {
            transform: translateX(0%)
        }
    }
}

.accordioGreen {
    .accordion-item {
        background: #B5FF6B;
    }

    .accordion-item.blue {
        background: #00B9FF;
    }
}

@media(max-width:767px) {
    .accordion {
        .container {
            padding: 0;
        }

        .accordion-item {
            border: 1px solid #000000;
        }

        .accordion-item-header {
            font-size: 18px;
            padding-left: 35px;
            padding-right: 40px;

            span {
                font-size: 10px;
                margin-top: 0px;
                margin-right: 0;
                position: absolute;
                left: 10px;
                top: 19px;
            }
        }

        .accordion-item-header::after {
            content: url("../../img/lp/plusMobile.png");
            margin-top: -8px;
        }

        .accordion-item-header.type3,
        .accordion-item-header .type4 {
            width: 100%;
        }

        .accordion-item-body-content {
            font-size: 16px;
            padding-left: 34px;
            font-family: sans-serif;


        }


    }

    .accordion .accordion-item-body.type2 .card p {
        padding: 24px;
        font-size: 16px;
    }

    .accordion .accordion-item-body.type2 .card {
        width: 100%;
    }

    .accordion .accordion-item-body.type2 .card img {
        height: auto;
    }

    .accordion .accordion-item-body.type2 .accordion-item-body-content {
        padding-right: 33px;
    }

    .accordion .accordion-item-body.type3 p {
        font-size: 16px;
        margin: 0;
        padding: 24px;
        padding-top: 0;
    }

    .accordion .accordion-item-body.type3 .accordion-item-body-content img {
        height: 54px;
        margin-top: -24px;
    }
}

.containerP {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 38px;
        /* identical to box height, or 200% */

        letter-spacing: -0.05em;
        text-transform: uppercase;

        color: #000000;
        margin: 0 16px;
    }
}

.mintDay {
    text-align: center;
    background: #00F89E;
    border-bottom: 2px solid #000;
    font-size: 16px;
    line-height: 34px;

    display: flex;

    p {
        border: 2px solid #000;
        border-bottom: 0;
        border-top: 0;
        line-height: 37px;
    }

    .boxRotativo {
        overflow: hidden;
        width: 100%;

        p {
            width: 376px;
        }
    }

    .box {
        overflow: hidden;

        p {
            width: 420px;
        }
    }

}

footer {
    .container {
        display: flex;
        justify-content: space-between;
    }
}