body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#mc_embed_signup {
  display: none;
}

.mask1 {
  -webkit-mask-image: url("../img/moldura-letas.png");
  mask-image: url("../img/moldura-letas.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  background: #F74326;
  position: absolute;
  top: 50px;
  height: 328px;
  left: -1px;
}

.mask1 img {
  position: relative;
  top: -9px;
  left: 0;
  -webkit-animation: animationFonte 20s linear infinite;
  animation: animationFonte 20s linear infinite;
}

@-webkit-keyframes animationFonte {
  0% {
    left: 0px;
  }

  100% {
    left: -1500px;
  }
}

@keyframes animationFonte {
  0% {
    left: 0px;
  }

  100% {
    left: -1500px;
  }
}

.spanError {
  color: red;
  font-family: 'Poppins';
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
  display: block;
}

.input-img {
  margin-top: 20px;
  position: relative;
}

.input-img input {
  position: absolute;
  height: 47px;
  width: 390px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: #B5B5B5;
  padding-left: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding-top: 6px;
  z-index: 10;
}

.input-img input ::-webkit-input-placeholder {
  color: #B5B5B5;
}

.input-img input :-ms-input-placeholder {
  color: #B5B5B5;
}

.input-img input ::-ms-input-placeholder {
  color: #B5B5B5;
}

.input-img input ::placeholder {
  color: #B5B5B5;
}

.input-img button {
  position: absolute;
  right: 0;
  height: 56px;
  width: 211px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.container-image {
  width: 614.49px;
  height: 433px;
  text-align: center;
  position: relative;
  background: url("../img/nft2.png");
  background-position: -1113px 5px;
  background-repeat: no-repeat;
  -webkit-animation: animationBackground 20s linear infinite;
  animation: animationBackground 20s linear infinite;
  background-color: #FCFCF5;
}

.container-image .molduraGeral {
  width: 100%;
  position: relative;
  left: -1px;
  z-index: 1;
  top: -1px;
}

@-webkit-keyframes animationBackground {
  0% {
    background-position: -990px 80px;
  }

  100% {
    background-position: 0px 80px;
  }
}

@keyframes animationBackground {
  0% {
    background-position: -990px 80px;
  }

  100% {
    background-position: 0px 80px;
  }
}

.container-image .instagram {
  z-index: 100;
  width: 135px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 14px;
}

.container-image .discord {
  z-index: 100;
  width: 135px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 257px;
}

.container-image .twwiter {
  z-index: 100;
  width: 111px;
  height: 48px;
  position: absolute;
  top: 0px;
  right: 9px;
}

.stroke {
  position: absolute;
  top: 51.5px;
  left: 0px;
  width: 100%;
}

.stroke img {
  width: 100%;
}

.container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-home .molduraGeral {
  width: 617.49px;
  height: 437.61px;
  position: relative;
  left: -1.5px;
}

.div-loading {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 100%;
  border: 3px solid #FF4139;
  border-left-color: transparent;
  -webkit-animation: animationLoader 1s linear infinite;
  animation: animationLoader 1s linear infinite;
  position: relative;
  left: 0px;
  display: none;
}

@-webkit-keyframes animationLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animationLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 645px) {
  .input-img {
    width: 409px;
  }

  .input-img img {
    width: 101%;
  }

  .input-img input {
    height: 27px;
    width: 253px;
    font-size: 19px;
  }

  .input-img button {
    height: 35px;
    width: 137px;
  }

  .div-loading {
    position: relative;
    left: 163px;
    width: 35px;
    height: 35px;
  }

  .container-image {
    width: 406px;
    height: 281px;
  }

  @-webkit-keyframes animationBackground {
    0% {
      background-position: -1075px 0px;
    }

    100% {
      background-position: 0px 0px;
    }
  }

  @keyframes animationBackground {
    0% {
      background-position: -1075px 0px;
    }

    100% {
      background-position: 0px 0px;
    }
  }

  .container-home {
    background-image: url(../img/nfts-page.png);
    -webkit-animation: backgroundPage 20s linear infinite;
    animation: backgroundPage 20s linear infinite;
  }

  @-webkit-keyframes backgroundPage {
    0% {
      background-position: -1000px 0px;
    }

    100% {
      background-position: -5326px 5px;
    }
  }

  @keyframes backgroundPage {
    0% {
      background-position: -1000px 0px;
    }

    100% {
      background-position: -5326px 5px;
    }
  }

  .container-home .molduraGeral {
    width: 409px;
    height: 286.42px;
    left: -2.5px;
  }

  .stroke img {
    width: 408px;
    height: 188.62px;
  }

  .mask1 {
    -webkit-mask-image: url("../img/moldura-letras-400.png");
    mask-image: url("../img/moldura-letras-400.png");
    top: 30px;
    left: -1px;
  }

  .stroke {
    width: 409px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 32px;
  }

  .container-image .instagram {
    height: 29px;
    width: 82px;
  }

  .container-image .discord {
    left: 176px;
    width: 76px;
    height: 30px;
  }

  .container-image .twwiter {
    width: 75px;
    height: 29px;
  }
}

@media (max-width: 500px) {
  .div-loading {
    left: 156px;
    width: 25px;
    height: 25px;
  }

  .input-img {
    margin-top: 20px;
    width: 351.5px;
  }

  .input-img input {
    width: 214px;
    height: 24px;
    padding-top: 5px;
    font-size: 1rem;
  }

  .input-img button {
    width: 114px;
    height: 30px;
  }

  .mask1 {
    -webkit-mask-image: url(../img/moldura-letras-300.png);
    mask-image: url(../img/moldura-letras-300.png);
    top: 26px;
    left: 1px;
  }

  .stroke {
    width: 99%;
    top: 28px;
    left: 50.24%;
  }

  .stroke img {
    width: 101%;
    height: 100%;
    left: -1px;
    position: relative;
  }

  .container-home .molduraGeral {
    width: 353px;
    height: 248.42px;
    left: 0px;
  }

  .container-image {
    height: 237px;
    width: 352px;
    overflow: initial;
    top: 0px;
  }

  .container-image .instagram {
    bottom: -11px;
    left: 8px;
  }

  .container-image .discord {
    left: 146px;
    bottom: -11px;
  }

  .container-image .twwiter {
    bottom: -11px;
    width: 75px;
    height: 29px;
  }
}

/*# sourceMappingURL=styles.css.map */
