@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'futura passata';
  src: url("../../font/FuturaPassata-DISPLAY.otf");
}

html {
  scroll-behavior: smooth;
}

.error {
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background: #ff000091;
  display: none;
  font-family: "Futura Passata";
  font-size: 20px;
  margin-top: 20px;
}

.error.active {
  display: block;
}

.btn-join {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFD09;
  border: 2.45px solid #000000;
  padding: 12.25px 24.5px;
  font-weight: 700;
  font-size: 26.95px;
  line-height: 95%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  font-family: 'futura passata', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  border-bottom: 2px solid #000;
  overflow-x: hidden;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  background: #FFFFFF;
  border-width: 2px 0px;
  border-style: solid;
}

.marquee-text {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 95%;
  /* identical to box height, or 43px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
  padding-left: 11px;
}

.marquee-text.junkieClub:before {
  content: "WELCOME TO THE SURF JUNKIE CLUB • ";
}

.marquee-text.theNFTS:before {
  content: "THE NFTS • THE NFTS • THE NFTS •";
}

.marquee-text.theClub:before {
  content: "THE CLUB • THE CLUB • THE CLUB • ";
}

.marquee-text.realArt:before {
  content: "REAL ART • REAL ART • REAL ART • ";
}

.marquee-text.value:before {
  content: "SCARCITY & VALUE • SCARCITY & VALUE •";
}

.marquee-text.roadmap:before {
  content: "ROADMAP • ROADMAP • ROADMAP • ";
}

.marquee-text.join:before {
  content: "• JOIN US • JOIN US • JOIN";
}

.marquee-text.faq:before {
  content: "FAQ • FAQ • FAQ • FAQ • FAQ • ";
}

.marquee-text.mint:before {
  content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY ";
}

.marquee-text.real:before {
  content: "BARRELS ARE THE REAL DOPE • ";
}

.marquee-text.mintdayBoxTeste:before {
  content: "STAY TUNED • STAY TUNED • STAY TUNED • STAY TUNED •";
}

.marquee-text.welcome:before {
  content: "WELCOME TO THE SURF JUNKIE club • ";
}

.marquee.welcome {
  border-top: 0;
  border-bottom: 3px solid #000;
  display: none;
}

.marquee.mintdayBoxTeste {
  background: #00f89e;
}

.marquee-text.mintdayBoxTeste {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  letter-spacing: -0.03em;
  color: #000000;
  border: 1px solid #000000;
  border-top: 0;
  border-bottom: 0;
  padding-right: 16px;
}

.marquee.faq {
  border-top: 0;
}

@-webkit-keyframes scroll {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.hero {
  margin-top: 55px;
}

.hero .desktop {
  display: none;
}

.hero img {
  width: 100%;
}

.weAreCommunity {
  padding: 66px 30px;
  background: #A4CFF6;
}

.weAreCommunity p {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 94%;
  text-align: justify;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
}

.weAreCommunity .btn-join {
  margin-top: 30px;
}

.cardsNFT {
  padding: 66px 30px;
  background: #0062E1;
}

.cardsNFT .card {
  width: 100%;
}

.cardsNFT .containerImage {
  background: #FF413E;
  border: 2px solid #000;
}

.cardsNFT .containerImage img {
  width: 100%;
}

.cardsNFT .containerForGifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardsNFT .containerForGifs img {
  width: 50%;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
}

.cardsNFT .containerForGifs img:nth-child(2) {
  position: relative;
  right: 1px;
}

.cardsNFT .containerText {
  padding: 25px 20px 25px 25px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-top: 0;
}

.cardsNFT p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;
}

.greenSection {
  padding: 40px 39px 40px 30px;
  border-bottom: 2px solid #000000;
  font-family: sans-serif;
  background: #B5FF6B;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}

.MenuMobile {
  display: none;
}

.MenuMobile a {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 95%;
  /* identical to box height, or 43px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 3px;
}

.porcentagens {
  padding: 66px 30px;
  background: #FF413E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 66px;
}

.porcentagens .card {
  width: 100%;
}

.porcentagens .porcentagem {
  padding-left: 30px;
  padding-right: 30px;
  padding: 14px 30px 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFFD09;
  border: 2px solid #000000;
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 0;
}

.porcentagens .title {
  font-family: 'Futura Passata';
  font-weight: 700;
  font-size: 42px;
  line-height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  padding: 30px 29px 25px 30px;
  background: #00B9FF;
  border: 2px solid #000000;
}

.porcentagens .containerImg {
  border: 2px solid #000000;
  border-top: 0px;
  border-bottom: 0;
}

.porcentagens img {
  width: 100%;
}

.porcentagens p {
  font-family: sans-serif;
  padding: 25px 32px 30px 30px;
  background: #B5FF6B;
  border: 2px solid #000000;
}

.porcentagens .paragrafo1 {
  margin-top: -2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}

.form {
  padding: 66px 30px;
  background: #93E7FF;
}

.form p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 30px;
}

.form input {
  padding-left: 16px;
  border: 2px solid #000000;
  width: -webkit-fill-available;
  height: 48px;
  font-size: 19px;
  color: #808080;
  border-radius: 0px;
}

.form input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #808080;
  font-family: 'Futura Passata';
}

.form input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #808080;
  font-family: 'Futura Passata';
}

.form input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #808080;
  font-family: 'Futura Passata';
}

.form input::placeholder {
  text-transform: uppercase;
  color: #808080;
  font-family: 'Futura Passata';
}

.form input.disabled {
  background-color: #969696;
}

.form input:nth-child(3) {
  border-top: 0;
  border-bottom: 0;
}

.form .btn-join {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-left: 24.5px;
  padding-right: 24.5px;
  margin-top: 0;
}

.form .p {
  margin: 40px 0 20px 0;
}

.form .btn-join {
  margin-top: 20px;
}

.border-top-0 {
  border-top: 0;
}

.nftsHero {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -4px;
}

.nftsHero img {
  -webkit-animation: animationNFT 20s linear infinite;
          animation: animationNFT 20s linear infinite;
}

@-webkit-keyframes animationNFT {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animationNFT {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nftsHeroHome {
  border: 2px solid #000000;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-left: 0;
  overflow-x: hidden;
  margin-top: -3px;
}

.nftsHeroHome .teste {
  -webkit-animation: animationNFT2 20s linear infinite;
          animation: animationNFT2 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2100px;
  height: 300px;
}

.nftsHeroHome img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes animationNFT2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1800px);
            transform: translateX(-1800px);
  }
}

@keyframes animationNFT2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1800px);
            transform: translateX(-1800px);
  }
}

.accordion {
  margin-top: -1px;
  width: 100%;
  font-family: 'futura passata', sans-serif;
  overflow-x: hidden;
}

.accordion.accordionRosa .accordion-item:hover {
  background-color: #FF39BB;
}

.accordion .accordion-item {
  background: #FBF801;
  color: #111;
  font-size: 43px;
  border-top: 3px solid #000;
}

.accordion .accordion-item:last-child {
  border-bottom: 0px solid #000;
}

.accordion .accordion-item-header {
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.accordion .accordion-item-header.type3,
.accordion .accordion-item-header .type4 {
  width: 1780px;
  margin: 0 auto;
}

.accordion .accordion-item-header span {
  margin-right: 18px;
  margin-right: 7px;
  margin-top: 2px;
}

.accordion .accordion-item-header::after {
  content: url("/assets/img/lp/plus.png");
  font-size: 2rem;
  position: absolute;
  right: 24.03px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion .accordion-item-header.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 28%;
}

.accordion .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  font-family: sans-serif;
}

.accordion .accordion-item-body-content {
  font-size: 18px;
  margin: 0;
  padding: 24px;
  padding-top: 0;
  padding-left: 37px;
  padding-right: 55px;
  padding-bottom: 0;
  font-family: sans-serif;
  padding-bottom: 30px;
}

.accordion .accordion-item-body-content.active {
  background: #53B6F9;
}

.accordion .accordion-item-body-content a {
  color: #000;
}

.accordion img.gif {
  width: 100%;
  border: 2px solid #000;
}

.accordion video {
  width: 100%;
}

.accordion .felipe {
  margin: 0 auto;
  max-width: 345px;
  margin: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: -19px;
}

.accordion .container {
  padding: 0;
}

.accordion .accordion-item {
  border: 1px solid #000000;
  border-right: 0;
  border-left: 0;
}

.accordion .accordion-item-header {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 48px;
  letter-spacing: -0.03em;
}

.accordion .accordion-item-header span {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 95%;
  /* or 9px */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

.accordion .accordion-item-header::after {
  content: url("../../img/lp/plusMobile.png");
}

.accordion .accordion-item-header.type3,
.accordion .accordion-item-header .type4 {
  width: 100%;
}

.accordion .accordion-item-body-content {
  font-size: 18px;
  padding-left: 39px;
  font-family: sans-serif;
  margin-top: 5px;
  line-height: 110%;
}

.accordion .accordion-item-body.type2 .card p {
  padding: 24px;
  font-size: 16px;
}

.accordion .accordion-item-body.type2 .card {
  width: 100%;
}

.accordion .accordion-item-body.type2 .card img {
  height: auto;
}

.accordion .accordion-item-body.type2 .accordion-item-body-content {
  padding-right: 33px;
}

.accordion .accordion-item-body.type3 p {
  font-size: 16px;
  margin: 0;
  padding: 24px;
  padding-top: 0;
}

.accordion .accordion-item-body.type3 .accordion-item-body-content img {
  height: 54px;
  margin-top: -24px;
}

.nftCard {
  width: 354px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media (max-width: 354px) {
  .nftCard {
    width: 95%;
  }
}

.nftCard h2 {
  background: #FF6600;
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  /* or 263% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0px;
  border: 2px solid #000000;
  border-bottom: 0;
}

.nftCard p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  background: #fff;
  padding-top: 35px;
  padding-left: 42px;
  padding-right: 34px;
  padding-bottom: 26px;
  margin-top: -11px;
  border: 2px solid #000;
  border-top: 0;
}

.nftCard img {
  width: 100%;
}

.accordion-item.active {
  background: #00B9FF;
}

.nftsHero2 {
  border-top: 0;
}

.mintDay {
  text-align: center;
  background: #00F89E;
  border-bottom: 2px solid #000;
  font-size: 16px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mintDay p {
  border: 2px solid #000;
  border-bottom: 0;
  border-top: 0;
  line-height: 37px;
}

.mintDay .marquee {
  border-top: 0;
  background: #00F89E;
}

.mintDay .boxRotativo {
  overflow: hidden;
  width: 100%;
  /* line-height: 88px; */
  border-left: 2px solid #000;
  margin-bottom: -2px;
  background: #00F89E;
}

.mintDay .boxRotativo p {
  width: 376px;
}

.mintDay .marquee-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

.mintDay .box {
  overflow: hidden;
}

.mintDay .box p {
  width: 420px;
}

.mintDay .porcentagensNFT .porcentagemNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marquee.direita .marquee-text {
  -webkit-animation: scroll2 10s linear infinite;
          animation: scroll2 10s linear infinite;
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

:root {
  --maquee1-width: 100vw;
  --maquee1-height: 20vh;
  /* --maquee1-elements: 12; */
  /* defined with JavaScript */
  --maquee1-elements-displayed: 5;
  --maquee1-element-width: calc(var(--maquee1-width) / var(--maquee1-elements-displayed));
  --maquee1-animation-duration: calc(var(--maquee1-elements) * 3s);
}

.maquee1 {
  width: var(--maquee1-width);
  height: 300px;
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
  border-top: 2px solid #000;
  margin-top: -2px;
}

.maquee1:before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#111), to(transparent));
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.maquee1:after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#111), to(transparent));
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.maquee1-content {
  list-style: none;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrolling var(--maquee1-animation-duration) linear infinite;
          animation: scrolling var(--maquee1-animation-duration) linear infinite;
}

/* .maquee1-content:hover {
  animation-play-state: paused;
} */
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(calc(-1 * var(--maquee1-element-width) * var(--maquee1-elements)));
            transform: translateX(calc(-1 * var(--maquee1-element-width) * var(--maquee1-elements)));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateX(calc(-1 * var(--maquee1-element-width) * var(--maquee1-elements)));
            transform: translateX(calc(-1 * var(--maquee1-element-width) * var(--maquee1-elements)));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.maquee1-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* text-align: center; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  max-height: 100%;
  font-size: calc(var(--maquee1-height)*3/4);
  /* 5rem; */
  white-space: nowrap;
  border: 1px solid #000;
}

.maquee1-content li img {
  width: 300px;
  height: 300px;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --maquee1-width: 100vw;
    --maquee1-height: 16vh;
    --maquee1-elements-displayed: 3;
  }
  .maquee1:before,
  .maquee1:after {
    width: 5rem;
  }
}

.bb-2 {
  border-bottom: 2px solid #000;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  padding-top: 23px;
  padding-bottom: 36.08px;
}

footer p {
  font-family: 'Futura Passata';
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 408px) {
  footer p {
    font-size: 18px;
  }
}

.enviado {
  background: #B5FF6B;
  pointer-events: none;
  width: 100%;
  max-width: -webkit-fill-available !important;
}

#mc_embed_signup {
  display: none;
}

.nftBorder {
  position: relative;
  right: 2px;
  border-left: 2px solid #000;
}

.form p.enviadoText {
  font-family: 'Futura Passata';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 94%;
  text-align: justify;
  color: #000000;
  display: none;
  margin-top: -20px;
}

.desktop {
  display: none;
}

.porcentagensDesk {
  display: none;
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .btn-join {
    font-style: normal;
    font-weight: 700;
    font-size: 62.95px;
    line-height: 95%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
  .hero img.desktop {
    display: block;
  }
  .hero img.mobile {
    display: none;
  }
  .marquee {
    border-width: 3px;
  }
  .marquee.welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .marquee-text.junkieClub:before {
    content: "OUR VISION •  ";
  }
  .weAreCommunity p {
    font-weight: 700;
    font-size: 70px;
    line-height: 95%;
    text-align: justify;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #000000;
  }
  .weAreCommunity .btn-join {
    margin-top: 92px;
  }
  .weAreCommunity {
    padding: 98px 80px 92px 85px;
  }
  .cardsNFT {
    padding: 130px 92px;
  }
  .cardsNFT .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cardsNFT p {
    font-weight: 400;
    font-size: 41px;
    line-height: 46px;
    margin-bottom: 55px;
  }
  .cardsNFT .containerImage {
    border-width: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .cardsNFT .containerText {
    border: 4px solid #000000;
    border-left: 0px;
    padding: 46px 55px 64px 67px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .nftBorder {
    border-width: 4px;
  }
  .containerForGifs + .containerText {
    border: 4px solid #000000;
  }
  .containerImage.surfJunkieImg img {
    margin-bottom: 0 !important;
  }
  .greenSection {
    font-weight: 400;
    font-size: 41px;
    line-height: 110%;
    color: #000000;
    padding: 69px 162px 69px 150px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .porcentagensDesk {
    background: #EF3443;
    position: relative;
  }
  .porcentagensDesk:after {
    position: absolute;
    content: url("../../img/lp/stroke-cards.svg");
    left: 50%;
    top: 117px;
  }
  .porcentagensDesk .container {
    max-width: 1344px;
    margin: 0 auto;
    padding-top: 131px;
    padding-bottom: 103px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .porcentagensDesk .cardPorcentagem {
    max-width: 606px;
  }
  .porcentagensDesk .text1 {
    font-family: 'Futura Passata';
    font-style: normal;
    font-weight: 700;
    font-size: 79px;
    line-height: 100px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    background: #FFFD09;
    border: 4px solid #000000;
    padding: 8px 30px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 0;
  }
  .porcentagensDesk .text2 {
    font-family: 'Futura Passata';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 79px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    background: #00B9FF;
    border-bottom: 4px solid #000000;
    padding: 30px 44px 30px 30px;
  }
  .porcentagensDesk .borderCard {
    border: 4px solid #000000;
  }
  .porcentagensDesk .containerImg {
    width: 100%;
  }
  .porcentagensDesk .containerImg img {
    width: 100%;
    margin-bottom: -3px;
  }
  .porcentagensDesk .text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 110%;
    color: #000000;
    padding: 40px 37px;
    font-family: sans-serif;
    background: #B5FF6B;
    border: 4px solid #000000;
    border-top: 0;
  }
  .porcentagensDesk .middleCard {
    margin: 125px 0;
  }
  .porcentagensDesk .cardMeet {
    margin-top: 642px;
    margin-bottom: 144px;
  }
  .form {
    padding: 63px 167px 107px 171px;
  }
  .form p {
    font-weight: 400;
    font-size: 41px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 85px;
  }
  .form input {
    height: 107px;
    font-weight: 700;
    font-size: 43px;
    line-height: 100px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border: 4px solid #000000;
  }
  .form .btn-join {
    margin-top: 66px;
  }
  .form .p {
    margin-top: 61px;
  }
  .accordion .accordion-item-header {
    font-weight: 700;
    font-size: 43px;
    line-height: 100px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 125px;
  }
  .accordion .accordion-item-body-content {
    padding-left: 125px;
  }
  .accordion .accordion-item-body-content {
    font-size: 41px;
  }
  .accordion .accordion-item-header span {
    font-weight: 700;
    font-size: 27px;
    line-height: 100px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: -8px;
  }
  footer .container {
    padding-left: 99px;
    padding-right: 117px;
  }
  footer p {
    font-family: 'Futura Passata';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100px;
    /* identical to box height, or 200% */
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #000000;
  }
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    background: #FFFD09;
    height: 100vh;
  }
  .desktop h2 {
    padding: 162px 137px 111px 138px;
    font-family: 'Futura Passata';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 94%;
    /* or 79px */
    text-align: justify;
    color: #000000;
  }
  .maquee1 {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 1600px) {
  .desktop h2 {
    padding: 100px 137px 111px 138px;
    font-family: 'Futura Passata';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 94%;
    /* or 79px */
    text-align: justify;
    color: #000000;
  }
}
/*# sourceMappingURL=styles.css.map */