html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'futura passata';
	src: url("../../font/FuturaPassata-DISPLAY.otf");
}

.error {
	text-align: center;
	color: #fff;
	padding: 20px 0;
	background: #ff000091;

	display: none;
	font-family: "Futura Passata";
	font-size: 20px;
	margin-top: 20px;
}

.error.active {
	display: block;
}

.btn-join {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;

	background: #FFFD09;
	border: 2.45px solid #000000;

	padding: 12.25px 24.5px;

	font-weight: 700;
	font-size: 26.95px;
	line-height: 95%;
	/* identical to box height, or 26px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.05em;
	text-transform: uppercase;

	color: #000000;
	font-family: 'futura passata', sans-serif;
	width: fit-content;
}

.marquee {
	width: 100%;
	white-space: nowrap;
	border-bottom: 2px solid #000;
	overflow-x: hidden;
	background: #fff;
	display: flex;
	align-items: center;
	overflow-y: hidden;

	background: #FFFFFF;
	border-width: 2px 0px;
	border-style: solid;
}

.marquee-text {
	font-family: 'Futura Passata';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 95%;
	/* identical to box height, or 43px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.05em;
	text-transform: uppercase;

	color: #000000;
	padding-top: 7px;
	padding-bottom: 7px;
	animation: scroll 10s linear infinite;
	padding-left: 11px;

}

.marquee-text.junkieClub:before {
	content: "WELCOME TO THE SURF JUNKIE CLUB • ";
}

.marquee-text.theNFTS:before {
	content: "THE NFTS • THE NFTS • THE NFTS •";
}

.marquee-text.theClub:before {
	content: "THE CLUB • THE CLUB • THE CLUB • ";
}

.marquee-text.realArt:before {
	content: "REAL ART • REAL ART • REAL ART • ";

}

.marquee-text.value:before {
	content: "SCARCITY & VALUE • SCARCITY & VALUE •";
}

.marquee-text.roadmap:before {
	content: "ROADMAP • ROADMAP • ROADMAP • ";
}

.marquee-text.join:before {
	content: "• JOIN US • JOIN US • JOIN";
}

.marquee-text.faq:before {
	content: "FAQ • FAQ • FAQ • FAQ • FAQ • ";
}

.marquee-text.mint:before {
	content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY ";
}

.marquee-text.real:before {
	content: "BARRELS ARE THE REAL DOPE • ";
}

.marquee-text.mintdayBoxTeste:before {
	content: "MINT DAY • JUNE 18 • INTERNATIONAL SURFING DAY  ";
}

.marquee.mintdayBoxTeste {
	background: #00f89e;
}

.marquee-text.mintdayBoxTeste {
	font-family: 'Futura Passata';
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 34px;
	display: flex;
	align-items: center;
	text-align: justify;
	letter-spacing: -0.03em;
	color: #000000;

	border: 1px solid #000000;

	border-top: 0;
	border-bottom: 0;
	padding-right: 16px;
}


.marquee.faq {
	border-top: 0;
}

@keyframes scroll {
	100% {
		transform: translateX(-100%);
	}
}

.hero {
	img {
		width: 100%;
	}
}

.weAreCommunity {
	padding: 66px 30px;
	background: #A4CFF6;

	p {
		font-family: 'Futura Passata';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 94%;
		text-align: justify;
		letter-spacing: -0.05em;
		text-transform: uppercase;
		color: #000000;
	}

	.btn-join {
		margin-top: 30px;
	}
}

.cardsNFT {
	padding: 66px 30px;
	background: #0062E1;

	.card {
		width: 100%;
	}

	.containerImage {
		background: #FF413E;
		border: 2px solid #000;

		img {
			width: 100%;
		}
	}

	.containerForGifs {
		display: flex;

		img {
			width: 50%;
			margin-bottom: 0px
		}
	}

	.containerText {
		padding: 25px 20px 25px 25px;
		background: #FFFFFF;
		border: 2px solid #000000;
		border-top: 0;
	}

	p {
		font-family: sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		color: #000000;
		margin-bottom: 30px;
	}
}

.greenSection {
	padding: 40px 39px 40px 30px;
	border-bottom: 2px solid #000000;
	font-family: sans-serif;
	background: #B5FF6B;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	color: #000000;
}

.porcentagens {
	padding: 66px 30px;
	background: #FF413E;

	display: flex;
	flex-direction: column;
	gap: 66px;


	.card {
		width: 100%;
	}

	.porcentagem {
		padding-left: 30px;
		padding-right: 30px;
		padding: 14px 30px 10px 30px;
		width: fit-content;
		background: #FFFD09;
		border: 2px solid #000000;

		font-family: 'Futura Passata';
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 42px;
		/* identical to box height */

		display: flex;
		align-items: center;
		letter-spacing: -0.05em;
		text-transform: uppercase;

		color: #000000;
		border-bottom: 0;
	}

	.title {
		font-family: 'Futura Passata';
		font-weight: 700;
		font-size: 42px;
		line-height: 95%;

		display: flex;
		align-items: center;
		letter-spacing: -0.05em;
		text-transform: uppercase;

		color: #000000;
		padding: 30px 29px 25px 30px;
		background: #00B9FF;
		border: 2px solid #000000;
	}

	.containerImg {
		border: 2px solid #000000;
		border-top: 0px;
		border-bottom: 0;
	}

	img {
		width: 100%;
	}

	p {
		font-family: sans-serif;
		padding: 25px 32px 30px 30px;
		background: #B5FF6B;
		border: 2px solid #000000;
	}

	.paragrafo1 {
		margin-top: -2px;
		font-weight: 400;
		font-size: 18px;
		line-height: 110%;
		color: #000000;

	}
}



.form {
	padding: 66px 30px;
	background: #93E7FF;


	p {
		font-family: sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 110%;
		color: #000000;
		margin-bottom: 30px;
	}

	input {
		padding-left: 16px;
		border: 2px solid #000000;
		width: -webkit-fill-available;
		height: 48px;
		font-size: 19px;
		color: #808080;
		border-radius: 0px;

		&::placeholder {
			text-transform: uppercase;
			color: #808080;
			font-family: 'Futura Passata';
		}
	}

	input:nth-child(3) {
		border-top: 0;
		border-bottom: 0;
	}

	.btn-join {
		max-width: fit-content;
		padding-left: 24.5px;
		padding-right: 24.5px;
		margin-top: 0;
	}

	.p {
		margin: 40px 0 20px 0;
	}

	.btn-join {
		margin-top: 20px;
	}
}

.border-top-0 {
	border-top: 0;
}

.nftsHero {
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: -4px;

	img {
		animation: animationNFT 20s linear infinite;
	}


	@keyframes animationNFT {
		0% {
			transform: translateX(-100%);
		}

		100% {
			transform: translateX(0%);
		}
	}
}

.nftsHeroHome {
	border: 2px solid #000000;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	border-left: 0;
	overflow-x: hidden;
	margin-top: -3px;

	.teste {
		animation: animationNFT2 20s linear infinite;
		display: flex;
		width: 2100px;
		height: 300px;
	}

	img {
		transform: translateX(0);
		animation: none !important;

	}


	@keyframes animationNFT2 {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-1800px);
		}
	}
}




.accordion {
	margin-top: -1px;
	width: 100%;
	font-family: 'futura passata',
		sans-serif;

	&.accordionRosa {
		.accordion-item {
			&:hover {
				background-color: #FF39BB;
			}
		}
	}


	.accordion-item {
		background: #FBF801;
		color: #111;
		font-size: 43px;
		border-top: 3px solid #000;

	}

	.accordion-item:last-child {
		border-bottom: 0px solid #000;
	}

	.accordion-item-header {
		padding-top: 20px;
		padding-bottom: 15px;
		font-weight: bold;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		align-items: flex-start;

		&.type3,
		.type4 {
			width: 1780px;
			margin: 0 auto;


		}

		span {
			margin-right: 18px;
			margin-right: 7px;
			margin-top: 2px;
		}
	}

	.accordion-item-header::after {
		content: url("/assets/img/lp/plus.png");
		font-size: 2rem;
		position: absolute;
		right: 24.03px;
		transition: .2s linear;
		top: 50%;
		transform: translateY(-50%);
	}

	.accordion-item-header.active::after {
		transform: rotate(45deg);
		top: 28%;
	}


	overflow-x: hidden;

	.accordion-item-body {
		max-height: 0;
		overflow: hidden;
		transition: max-height .2s ease-out;
		font-family: sans-serif;


	}

	.accordion-item-body-content {
		font-size: 18px;
		margin: 0;
		padding: 24px;
		padding-top: 0;
		padding-left: 37px;
		padding-right: 55px;
		padding-bottom: 0;
		font-family: sans-serif;
		padding-bottom: 30px;

		&.active {
			background: #53B6F9;
		}

		a {
			color: #000;
		}

	}

	img.gif {
		width: 100%;
		border: 2px solid #000;
	}

	video {
		width: 100%;
	}

	.felipe {
		margin: 0 auto;
		max-width: 345px;
		margin: center;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 20px;
		margin-bottom: -19px;
	}
}



.accordion {
	.container {
		padding: 0;
	}

	.accordion-item {
		border: 1px solid #000000;
		border-right: 0;
		border-left: 0;
	}

	.accordion-item-header {
		font-size: 18px;
		padding-left: 20px;
		padding-right: 38px;
		letter-spacing: -0.03em;

		span {
			font-family: 'Futura Passata';
			font-style: normal;
			font-weight: 700;
			font-size: 10px;
			line-height: 95%;
			/* or 9px */

			letter-spacing: -0.03em;
			text-transform: uppercase;

			color: #000000;

		}
	}

	.accordion-item-header::after {
		content: url("../../img/lp/plusMobile.png");
	}

	.accordion-item-header.type3,
	.accordion-item-header .type4 {
		width: 100%;
	}

	.accordion-item-body-content {
		font-size: 18px;
		padding-left: 39px;
		font-family: sans-serif;
		margin-top: 5px;
		line-height: 110%;

	}


}

.accordion .accordion-item-body.type2 .card p {
	padding: 24px;
	font-size: 16px;
}

.accordion .accordion-item-body.type2 .card {
	width: 100%;
}

.accordion .accordion-item-body.type2 .card img {
	height: auto;
}

.accordion .accordion-item-body.type2 .accordion-item-body-content {
	padding-right: 33px;
}

.accordion .accordion-item-body.type3 p {
	font-size: 16px;
	margin: 0;
	padding: 24px;
	padding-top: 0;
}

.accordion .accordion-item-body.type3 .accordion-item-body-content img {
	height: 54px;
	margin-top: -24px;
}

.nftCard {
	width: 354px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 10px;

	@media(max-width: 354px) {
		width: 95%;
	}

	h2 {
		background: #FF6600;
		font-family: 'Futura Passata';
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		/* or 263% */

		display: flex;
		align-items: center;
		letter-spacing: -0.03em;
		text-transform: uppercase;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 0px;
		border: 2px solid #000000;
		border-bottom: 0;
	}

	p {
		font-family: sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 110%;
		color: #000000;

		background: #fff;
		padding-top: 35px;
		padding-left: 42px;
		padding-right: 34px;
		padding-bottom: 26px;
		margin-top: -11px;
		border: 2px solid #000;
		border-top: 0;
	}

	img {
		width: 100%;
	}
}

.accordion-item.active {
	background: #00B9FF;
}

.nftsHero2 {
	border-top: 0;
}



.mintDay {
	text-align: center;
	background: #00F89E;
	border-bottom: 2px solid #000;
	font-size: 16px;
	line-height: 34px;

	display: flex;

	p {
		border: 2px solid #000;
		border-bottom: 0;
		border-top: 0;
		line-height: 37px;
	}

	.marquee {
		border-top: 0;
		background: #00F89E;
	}

	.boxRotativo {
		overflow: hidden;
		width: 100%;
		/* line-height: 88px; */
		border-left: 2px solid #000;
		margin-bottom: -2px;
		background: #00F89E;

		p {
			width: 376px;
		}
	}

	.marquee-text {
		font-weight: 500;
		font-size: 25px;
		line-height: 34px;
		/* identical to box height */

		display: flex;
		align-items: center;
		text-align: justify;
		letter-spacing: -0.03em;
		text-transform: uppercase;

		color: #000000;
	}

	.box {
		overflow: hidden;

		p {
			width: 420px;
		}
	}

	.porcentagensNFT .porcentagemNumber {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.marquee.direita .marquee-text {
	animation: scroll2 10s linear infinite;
}

@keyframes scroll2 {
	0% {
		transform: translateX(-100%);
	}
}



















:root {
	--maquee1-width: 100vw;
	--maquee1-height: 20vh;
	/* --maquee1-elements: 12; */
	/* defined with JavaScript */
	--maquee1-elements-displayed: 5;
	--maquee1-element-width: calc(var(--maquee1-width) / var(--maquee1-elements-displayed));
	--maquee1-animation-duration: calc(var(--maquee1-elements) * 3s);
}

.maquee1 {
	width: var(--maquee1-width);
	height: 300px;
	background-color: #111;
	color: #eee;
	overflow: hidden;
	position: relative;
	border-top: 2px solid #000;
	margin-top: -2px;
}



.maquee1:before {
	left: 0;
	background: linear-gradient(to right, #111 0%, transparent 100%);
}

.maquee1:after {
	right: 0;
	background: linear-gradient(to left, #111 0%, transparent 100%);
}

.maquee1-content {
	list-style: none;
	height: 300px;
	display: flex;
	animation: scrolling var(--maquee1-animation-duration) linear infinite;
}

/* .maquee1-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
	0% {
		transform: translateX(calc(-1 * var(--maquee1-element-width) * var(--maquee1-elements)));
	}

	100% {
		transform: translateX(0);
	}
}

.maquee1-content li {
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
	flex-shrink: 0;
	width: 300px;
	max-height: 100%;
	font-size: calc(var(--maquee1-height)*3/4);
	/* 5rem; */
	white-space: nowrap;
	border: 1px solid #000;
}

.maquee1-content li img {
	width: 300px;
	height: 300px;
}

@media (max-width: 600px) {
	html {
		font-size: 12px;
	}

	:root {
		--maquee1-width: 100vw;
		--maquee1-height: 16vh;
		--maquee1-elements-displayed: 3;
	}

	.maquee1:before,
	.maquee1:after {
		width: 5rem;
	}
}

.bb-2 {
	border-bottom: 2px solid #000;
}


footer {
	.container {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		padding-top: 23px;
		padding-bottom: 36.08px;
	}

	p {
		font-family: 'Futura Passata';
		font-weight: 500;
		font-size: 22px;
		line-height: 34px;
		display: flex;
		align-items: center;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: #000000;
	}
}

@media(max-width :408px) {
	footer p {
		font-size: 18px;
	}
}

.enviado {
	background: #B5FF6B;
	pointer-events: none;
}

.p.sent {
	display: none;
}

#mc_embed_signup {
	display: none;
}